* {
  box-sizing: border-box;
}

html {
  font: calc(100% * 0.625) / 1.15 HelveticaNeue, Helvetica, sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.875;
  color: #252525;
  margin: 0;
}

header {
  background-color: #252525d2;
  color: #fff;
  padding: 2rem;
}

header>h1, main {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

legend>h3 {
  margin: 0;
}

main {
  width: 95%;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.main__form {
  flex: 4;
}

.feature {
  padding: 0.8rem;
  padding-top: 0.4rem;
  border: 0;
}

.feature+.feature {
  margin-top: 0.8rem;
}

.feature__name {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

.feature__item+.feature__item {
  margin-top: 0.8rem;
}

/* Hide radios from sighted users,
while keeping them available to the keyboard */

.main__summary {
  flex: 3;
  margin-left: 0.2rem;
}

.summary__option {
  display: grid;
  grid-template-areas: 'key cost' 'value value';
  padding: 0.2rem;
  margin-top: 1rem;
}

.summary__option__label {
  font-size: 2.2rem;
  font-weight: bold;
  grid-area: key;
}

.summary__option__value {
  grid-area: value;
}

.summary__option__cost {
  grid-area: cost;
  text-align: right;
}

.summary__total {
  font-size: 2.2rem;
  line-height: 2.4;
  display: flex;
  margin-top: 1.5rem;
  border-top: solid 1px #252525;
}

.summary__total__label {
  font-weight: bold;
  flex: 2;
}

.summary__total__value {
  text-decoration: underline;
}